In [1]:
train = pd.read_csv("./raw/application_train.csv")

In [2]:
credit_card_train = pd.read_csv("./raw/credit_card_balance.csv")

In [3]:
target = train.iloc[:, 0:2]

In [4]:
len(target)

307511

In [5]:
credit_card_train.head()

   SK_ID_PREV  SK_ID_CURR  MONTHS_BALANCE  AMT_BALANCE  AMT_CREDIT_LIMIT_ACTUAL  AMT_DRAWINGS_ATM_CURRENT  AMT_DRAWINGS_CURRENT  AMT_DRAWINGS_OTHER_CURRENT  AMT_DRAWINGS_POS_CURRENT  AMT_INST_MIN_REGULARITY  AMT_PAYMENT_CURRENT  AMT_PAYMENT_TOTAL_CURRENT  AMT_RECEIVABLE_PRINCIPAL  AMT_RECIVABLE  AMT_TOTAL_RECEIVABLE  CNT_DRAWINGS_ATM_CURRENT  CNT_DRAWINGS_CURRENT  CNT_DRAWINGS_OTHER_CURRENT  CNT_DRAWINGS_POS_CURRENT  CNT_INSTALMENT_MATURE_CUM NAME_CONTRACT_STATUS  SK_DPD  SK_DPD_DEF
0     2562384      378907              -6       56.970                   135000                       0.0                 877.5                         0.0                     877.5                 1700.325               1800.0                     1800.0                     0.000          0.000                 0.000                       0.0                     1                         0.0                       1.0                       35.0               Active       0           0
1     2582071      363914              -1    63975.555                    45000                    2250.0                2250.0                         0.0                       0.0                 2250.000               2250.0                     2250.0                 60175.080      64875.555             64875.555                       1.0                     1                         0.0                       0.0                       69.0               Active       0           0
2     1740877      371185              -7    31815.225                   450000                       0.0                   0.0                         0.0                       0.0                 2250.000               2250.0                     2250.0                 26926.425      31460.085             31460.085                       0.0                     0                         0.0                       0.0                       30.0               Active       0           0
3     1389973      337855              -4   236572.110                   225000                    2250.0                2250.0                         0.0                       0.0                11795.760              11925.0                    11925.0                224949.285     233048.970            233048.970                       1.0                     1                         0.0                       0.0                       10.0               Active       0           0
4     1891521      126868              -1   453919.455                   450000                       0.0               11547.0                         0.0                   11547.0                22924.890              27000.0                    27000.0                443044.395     453919.455            453919.455                       0.0                     1                         0.0                       1.0                      101.0               Active       0           0

In [6]:
# credit_card에서 train만 골라내기
credit_card_train = credit_card_train[credit_card_train.SK_ID_CURR.isin(train.SK_ID_CURR)]

In [7]:
len(set(credit_card_train.SK_ID_CURR))

86905

In [8]:
# 각 DataFrame에 Target 값 넣기
#credit_card = credit_card_train.merge(target, how = "inner", on="SK_ID_CURR")
#installments_payment = installments_payment_train.merge(target, how = "inner", on="SK_ID_CURR")
#credit_card = credit_card_train.merge(target, how = "inner", on="SK_ID_CURR")

In [9]:
#credit_card0 = credit_card[credit_card.TARGET == 0]
#credit_card1 = credit_card[credit_card.TARGET == 1]

In [10]:
print("credit_card 원래 train수: {}, ID 수 : {}".format(len(credit_card_train), len(set(credit_card_train.SK_ID_CURR))))
#print("installments_payment 원래 train수: {}, ID 수 : {}".format(len(installments_payment), len(set(installments_payment.SK_ID_CURR))))
#print("credit_card 원래 train수: {}, ID 수 : {}".format(len(credit_card_train), len(set(credit_card_train.SK_ID_CURR))))

credit_card 원래 train수: 3227965, ID 수 : 86905

In [11]:
# credit_card_balance 파일
credit_card_continuous = ['MONTHS_BALANCE', 'AMT_BALANCE', 'AMT_CREDIT_LIMIT_ACTUAL',
                          'AMT_DRAWINGS_ATM_CURRENT', 'AMT_DRAWINGS_CURRENT',
                          'AMT_DRAWINGS_OTHER_CURRENT', 'AMT_DRAWINGS_POS_CURRENT',
                          'AMT_INST_MIN_REGULARITY', 'AMT_PAYMENT_CURRENT',
                          'AMT_PAYMENT_TOTAL_CURRENT', 'AMT_RECEIVABLE_PRINCIPAL', 'AMT_RECIVABLE',
                          'AMT_TOTAL_RECEIVABLE', 'SK_DPD', 'SK_DPD_DEF']
credit_card_multi = ['NAME_CONTRACT_STATUS']
confirm_needed = ['CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_CURRENT', 'CNT_DRAWINGS_OTHER_CURRENT',
                   'CNT_DRAWINGS_POS_CURRENT', 'CNT_INSTALMENT_MATURE_CUM']

# 'XNA', 'XAP' 를 NaN처리, NaN값이 70%이상인 경우 변수제거

In [57]:
credit_card = credit_card_train.replace("XNA", np.NaN)
credit_card = credit_card.replace("XAP", np.NaN)
credit_card = credit_card.replace("nan", np.NaN)
credit_card = credit_card.replace("NaN", np.NaN)

- train에 ID가 있는 데이터 중에서 nan값의 비율 구하기
- AMT_DRAWINGS_ATM_CURRENT, AMT_DRAWINGS_OTHER_CURRENT, AMT_DRAWINGS_POS_CURRENT, CNT_DRAWINGS_ATM_CURRENT,  CNT_DRAWINGS_OTHER_CURRENT, CNT_DRAWINGS_POS_CURRENT은 nan값이 605754개로 동일

In [58]:
credit_card_train.isnull().sum()

SK_ID_PREV                         0
SK_ID_CURR                         0
MONTHS_BALANCE                     0
AMT_BALANCE                        0
AMT_CREDIT_LIMIT_ACTUAL            0
AMT_DRAWINGS_ATM_CURRENT      605754
AMT_DRAWINGS_CURRENT               0
AMT_DRAWINGS_OTHER_CURRENT    605754
AMT_DRAWINGS_POS_CURRENT      605754
AMT_INST_MIN_REGULARITY       264384
AMT_PAYMENT_CURRENT           620093
AMT_PAYMENT_TOTAL_CURRENT          0
AMT_RECEIVABLE_PRINCIPAL           0
AMT_RECIVABLE                      0
AMT_TOTAL_RECEIVABLE               0
CNT_DRAWINGS_ATM_CURRENT      605754
CNT_DRAWINGS_CURRENT               0
CNT_DRAWINGS_OTHER_CURRENT    605754
CNT_DRAWINGS_POS_CURRENT      605754
CNT_INSTALMENT_MATURE_CUM     264384
NAME_CONTRACT_STATUS               0
SK_DPD                             0
SK_DPD_DEF                         0
dtype: int64

XNA, XAP를 nan으로 변환한 후 nan값의 비율

In [14]:
removed_var = []
for var in credit_card.columns:
    print(var, credit_card[var].isnull().sum(), round(credit_card[var].isnull().sum()/len(credit_card[var])*100, 2), sep="\t")
    if round(credit_card[var].isnull().sum()/len(credit_card[var])*100) >= 30:
             removed_var.append(var)

SK_ID_PREV	0	0.0
SK_ID_CURR	0	0.0
MONTHS_BALANCE	0	0.0
AMT_BALANCE	0	0.0
AMT_CREDIT_LIMIT_ACTUAL	0	0.0
AMT_DRAWINGS_ATM_CURRENT	605754	18.77
AMT_DRAWINGS_CURRENT	0	0.0
AMT_DRAWINGS_OTHER_CURRENT	605754	18.77
AMT_DRAWINGS_POS_CURRENT	605754	18.77
AMT_INST_MIN_REGULARITY	264384	8.19
AMT_PAYMENT_CURRENT	620093	19.21
AMT_PAYMENT_TOTAL_CURRENT	0	0.0
AMT_RECEIVABLE_PRINCIPAL	0	0.0
AMT_RECIVABLE	0	0.0
AMT_TOTAL_RECEIVABLE	0	0.0
CNT_DRAWINGS_ATM_CURRENT	605754	18.77
CNT_DRAWINGS_CURRENT	0	0.0
CNT_DRAWINGS_OTHER_CURRENT	605754	18.77
CNT_DRAWINGS_POS_CURRENT	605754	18.77
CNT_INSTALMENT_MATURE_CUM	264384	8.19
NAME_CONTRACT_STATUS	0	0.0
SK_DPD	0	0.0
SK_DPD_DEF	0	0.0

In [59]:
print(removed_var, len(removed_var))

[] 0

In [60]:
for var in removed_var:
    del credit_card[var]

In [61]:
len(credit_card_train.columns) - len(removed_var)

23

In [62]:
len(credit_card.columns)

23

---

# continuous 변수에서 NaN값 평균으로 채우기

In [63]:
continuous = list(set(credit_card_continuous+confirm_needed) - set(removed_var))

In [64]:
continuous

['AMT_RECEIVABLE_PRINCIPAL',
 'MONTHS_BALANCE',
 'CNT_INSTALMENT_MATURE_CUM',
 'AMT_DRAWINGS_ATM_CURRENT',
 'AMT_PAYMENT_CURRENT',
 'SK_DPD_DEF',
 'AMT_PAYMENT_TOTAL_CURRENT',
 'AMT_RECIVABLE',
 'AMT_TOTAL_RECEIVABLE',
 'AMT_BALANCE',
 'AMT_DRAWINGS_OTHER_CURRENT',
 'AMT_INST_MIN_REGULARITY',
 'SK_DPD',
 'AMT_DRAWINGS_POS_CURRENT',
 'CNT_DRAWINGS_ATM_CURRENT',
 'CNT_DRAWINGS_POS_CURRENT',
 'AMT_DRAWINGS_CURRENT',
 'AMT_CREDIT_LIMIT_ACTUAL',
 'CNT_DRAWINGS_OTHER_CURRENT',
 'CNT_DRAWINGS_CURRENT']

In [65]:
for var in continuous:
    credit_card[var] = credit_card[var].astype("float")
    credit_card[var].fillna(round(credit_card[var].mean(), 3), inplace=True)

In [40]:
# 원래 값과 비교
credit_card_train[continuous].describe()

       AMT_RECEIVABLE_PRINCIPAL  MONTHS_BALANCE  CNT_INSTALMENT_MATURE_CUM  AMT_DRAWINGS_ATM_CURRENT  AMT_PAYMENT_CURRENT    SK_DPD_DEF  AMT_PAYMENT_TOTAL_CURRENT  AMT_RECIVABLE  AMT_TOTAL_RECEIVABLE   AMT_BALANCE  AMT_DRAWINGS_OTHER_CURRENT  AMT_INST_MIN_REGULARITY        SK_DPD  AMT_DRAWINGS_POS_CURRENT  CNT_DRAWINGS_ATM_CURRENT  CNT_DRAWINGS_POS_CURRENT  AMT_DRAWINGS_CURRENT  AMT_CREDIT_LIMIT_ACTUAL  CNT_DRAWINGS_OTHER_CURRENT  CNT_DRAWINGS_CURRENT
count              3.227965e+06    3.227965e+06               2.963581e+06              2.622211e+06         2.607872e+06  3.227965e+06               3.227965e+06   3.227965e+06          3.227965e+06  3.227965e+06                2.622211e+06             2.963581e+06  3.227965e+06              2.622211e+06              2.622211e+06              2.622211e+06          3.227965e+06             3.227965e+06                2.622211e+06          3.227965e+06
mean               5.670018e+04   -3.471544e+01               2.108883e+01              6.024272e+03         1.023861e+04  2.857060e-01               7.633469e+03   5.886264e+04          5.887259e+04  5.907332e+04                2.984882e+02             3.599681e+03  9.494803e+00              2.884152e+03              3.150212e-01              5.431047e-01          7.494084e+03             1.529536e+05                4.988538e-03          7.011439e-01
std                1.028242e+05    2.663609e+01               1.998730e+01              2.842116e+04         3.586433e+04  1.957034e+01               3.195403e+04   1.062747e+05          1.062813e+05  1.066137e+05                8.396193e+03             5.611742e+03  9.805148e+01              2.038833e+04              1.112726e+00              3.193040e+00          3.396743e+04             1.637092e+05                8.408493e-02          3.171833e+00
min               -4.233058e+05   -9.600000e+01               0.000000e+00             -6.827310e+03         0.000000e+00  0.000000e+00               0.000000e+00  -4.202502e+05         -4.202502e+05 -4.202502e+05                0.000000e+00             0.000000e+00  0.000000e+00              0.000000e+00              0.000000e+00              0.000000e+00         -6.211620e+03             0.000000e+00                0.000000e+00          0.000000e+00
25%                0.000000e+00   -5.600000e+01               5.000000e+00              0.000000e+00         1.557000e+02  0.000000e+00               0.000000e+00   0.000000e+00          0.000000e+00  0.000000e+00                0.000000e+00             0.000000e+00  0.000000e+00              0.000000e+00              0.000000e+00              0.000000e+00          0.000000e+00             4.500000e+04                0.000000e+00          0.000000e+00
50%                0.000000e+00   -2.800000e+01               1.600000e+01              0.000000e+00         2.923020e+03  0.000000e+00               0.000000e+00   0.000000e+00          0.000000e+00  0.000000e+00                0.000000e+00             0.000000e+00  0.000000e+00              0.000000e+00              0.000000e+00              0.000000e+00          0.000000e+00             1.125000e+05                0.000000e+00          0.000000e+00
75%                8.664215e+04   -1.100000e+01               3.300000e+01              0.000000e+00         9.000000e+03  0.000000e+00               6.750000e+03   9.020840e+04          9.022635e+04  9.040554e+04                0.000000e+00             6.750000e+03  0.000000e+00              0.000000e+00              0.000000e+00              0.000000e+00          0.000000e+00             1.800000e+05                0.000000e+00          0.000000e+00
max                1.354829e+06   -1.000000e+00               1.200000e+02              2.115000e+06         4.289207e+06  2.800000e+03               4.278316e+06   1.354829e+06          1.354829e+06  1.354829e+06                1.529847e+06             2.028820e+05  2.831000e+03              2.060030e+06              5.100000e+01              1.650000e+02          2.115000e+06             1.350000e+06                1.200000e+01          1.650000e+02

In [23]:
credit_card[continuous].describe()

       AMT_RECEIVABLE_PRINCIPAL  MONTHS_BALANCE  CNT_INSTALMENT_MATURE_CUM  AMT_DRAWINGS_ATM_CURRENT  AMT_PAYMENT_CURRENT    SK_DPD_DEF  AMT_PAYMENT_TOTAL_CURRENT  AMT_RECIVABLE  AMT_TOTAL_RECEIVABLE   AMT_BALANCE  AMT_DRAWINGS_OTHER_CURRENT  AMT_INST_MIN_REGULARITY        SK_DPD  AMT_DRAWINGS_POS_CURRENT  CNT_DRAWINGS_ATM_CURRENT  CNT_DRAWINGS_POS_CURRENT  AMT_DRAWINGS_CURRENT  AMT_CREDIT_LIMIT_ACTUAL  CNT_DRAWINGS_OTHER_CURRENT  CNT_DRAWINGS_CURRENT
count              3.227965e+06    3.227965e+06               3.227965e+06              3.227965e+06         3.227965e+06  3.227965e+06               3.227965e+06   3.227965e+06          3.227965e+06  3.227965e+06                3.227965e+06             3.227965e+06  3.227965e+06              3.227965e+06              3.227965e+06              3.227965e+06          3.227965e+06             3.227965e+06                3.227965e+06          3.227965e+06
mean               5.670018e+04   -3.471544e+01               2.108883e+01              6.024272e+03         1.023861e+04  2.857060e-01               7.633469e+03   5.886264e+04          5.887259e+04  5.907332e+04                2.984882e+02             3.599681e+03  9.494803e+00              2.884152e+03              3.150212e-01              5.431047e-01          7.494084e+03             1.529536e+05                4.988538e-03          7.011439e-01
std                1.028242e+05    2.663609e+01               1.915130e+01              2.561600e+04         3.223602e+04  1.957034e+01               3.195403e+04   1.062747e+05          1.062813e+05  1.066137e+05                7.567489e+03             5.377020e+03  9.805148e+01              1.837600e+04              1.002900e+00              2.877887e+00          3.396743e+04             1.637092e+05                7.578575e-02          3.171833e+00
min               -4.233058e+05   -9.600000e+01               0.000000e+00             -6.827310e+03         0.000000e+00  0.000000e+00               0.000000e+00  -4.202502e+05         -4.202502e+05 -4.202502e+05                0.000000e+00             0.000000e+00  0.000000e+00              0.000000e+00              0.000000e+00              0.000000e+00         -6.211620e+03             0.000000e+00                0.000000e+00          0.000000e+00
25%                0.000000e+00   -5.600000e+01               5.000000e+00              0.000000e+00         2.481300e+02  0.000000e+00               0.000000e+00   0.000000e+00          0.000000e+00  0.000000e+00                0.000000e+00             0.000000e+00  0.000000e+00              0.000000e+00              0.000000e+00              0.000000e+00          0.000000e+00             4.500000e+04                0.000000e+00          0.000000e+00
50%                0.000000e+00   -2.800000e+01               1.800000e+01              0.000000e+00         5.850000e+03  0.000000e+00               0.000000e+00   0.000000e+00          0.000000e+00  0.000000e+00                0.000000e+00             6.750000e+01  0.000000e+00              0.000000e+00              0.000000e+00              0.000000e+00          0.000000e+00             1.125000e+05                0.000000e+00          0.000000e+00
75%                8.664215e+04   -1.100000e+01               3.100000e+01              6.024272e+03         1.023861e+04  0.000000e+00               6.750000e+03   9.020840e+04          9.022635e+04  9.040554e+04                0.000000e+00             5.625000e+03  0.000000e+00              1.378800e+03              3.150212e-01              5.431047e-01          0.000000e+00             1.800000e+05                0.000000e+00          0.000000e+00
max                1.354829e+06   -1.000000e+00               1.200000e+02              2.115000e+06         4.289207e+06  2.800000e+03               4.278316e+06   1.354829e+06          1.354829e+06  1.354829e+06                1.529847e+06             2.028820e+05  2.831000e+03              2.060030e+06              5.100000e+01              1.650000e+02          2.115000e+06             1.350000e+06                1.200000e+01          1.650000e+02

# category 변수에서 NaN값 mode으로 채우기

In [67]:
category = list(set(credit_card_multi) - set(removed_var))
category

['NAME_CONTRACT_STATUS']

In [68]:
for var in category:
    credit_card[var] = credit_card[var].astype("str")
    credit_card[var] = credit_card[var].replace("nan", credit_card[var].mode())

왜 nan 값이 replace 안되는 거지..., fillna도 안되고

In [69]:
credit_card_train[category].describe(include=["object", "category"])

       NAME_CONTRACT_STATUS
count               3227965
unique                    7
top                  Active
freq                3116673

In [59]:
credit_card[category].describe(include=["object", "category"])

       NAME_CONTRACT_STATUS
count               3227965
unique                    7
top                  Active
freq                3116673

In [26]:
#credit_card.CNT_DRAWINGS_ATM_CURRENT.replace("nan", "0.0",inplace=True)
#credit_card.CNT_DRAWINGS_POS_CURRENT.replace("nan", "0.0",inplace=True)
#credit_card.CNT_DRAWINGS_OTHER_CURRENT.replace("nan", "0.0",inplace=True)
#credit_card.CNT_INSTALMENT_MATURE_CUM.replace("nan", "0.0",inplace=True)
#credit_card.CNT_DRAWINGS_CURRENT.replace("nan", "0.0",inplace=True)

In [70]:
for var in category:
    print(var, credit_card[var].unique())

NAME_CONTRACT_STATUS ['Active' 'Completed' 'Signed' 'Demand' 'Sent proposal' 'Refused'
 'Approved']

---

In [71]:
credit_card.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3227965 entries, 1 to 3840311
Data columns (total 23 columns):
SK_ID_PREV                    int64
SK_ID_CURR                    int64
MONTHS_BALANCE                float64
AMT_BALANCE                   float64
AMT_CREDIT_LIMIT_ACTUAL       float64
AMT_DRAWINGS_ATM_CURRENT      float64
AMT_DRAWINGS_CURRENT          float64
AMT_DRAWINGS_OTHER_CURRENT    float64
AMT_DRAWINGS_POS_CURRENT      float64
AMT_INST_MIN_REGULARITY       float64
AMT_PAYMENT_CURRENT           float64
AMT_PAYMENT_TOTAL_CURRENT     float64
AMT_RECEIVABLE_PRINCIPAL      float64
AMT_RECIVABLE                 float64
AMT_TOTAL_RECEIVABLE          float64
CNT_DRAWINGS_ATM_CURRENT      float64
CNT_DRAWINGS_CURRENT          float64
CNT_DRAWINGS_OTHER_CURRENT    float64
CNT_DRAWINGS_POS_CURRENT      float64
CNT_INSTALMENT_MATURE_CUM     float64
NAME_CONTRACT_STATUS          object
SK_DPD                        float64
SK_DPD_DEF                    float64
dtypes: float64(20), int64(2), object(1)
memory usage: 671.1+ MB

In [72]:
credit_card_fi = pd.get_dummies(credit_card)

In [79]:
var = list(set(credit_card_fi.columns) - set(continuous) - set(["SK_ID_CURR"]) - set(["SK_ID_PREV"]))

In [80]:
var

['NAME_CONTRACT_STATUS_Demand',
 'NAME_CONTRACT_STATUS_Signed',
 'NAME_CONTRACT_STATUS_Refused',
 'NAME_CONTRACT_STATUS_Approved',
 'NAME_CONTRACT_STATUS_Sent proposal',
 'NAME_CONTRACT_STATUS_Completed',
 'NAME_CONTRACT_STATUS_Active']

In [84]:
dataset = credit_card_fi.groupby("SK_ID_CURR")[var].sum()

In [85]:
dataset[continuous] = credit_card_fi.groupby("SK_ID_CURR")[continuous].mean()

In [87]:
dataset.reset_index(inplace=True)

In [88]:
dataset.tail()

       SK_ID_CURR  NAME_CONTRACT_STATUS_Demand  NAME_CONTRACT_STATUS_Signed  NAME_CONTRACT_STATUS_Refused  NAME_CONTRACT_STATUS_Approved  NAME_CONTRACT_STATUS_Sent proposal  NAME_CONTRACT_STATUS_Completed  NAME_CONTRACT_STATUS_Active  AMT_RECEIVABLE_PRINCIPAL  MONTHS_BALANCE  CNT_INSTALMENT_MATURE_CUM  AMT_DRAWINGS_ATM_CURRENT  AMT_PAYMENT_CURRENT  SK_DPD_DEF  AMT_PAYMENT_TOTAL_CURRENT  AMT_RECIVABLE  AMT_TOTAL_RECEIVABLE    AMT_BALANCE  AMT_DRAWINGS_OTHER_CURRENT  AMT_INST_MIN_REGULARITY    SK_DPD  AMT_DRAWINGS_POS_CURRENT  CNT_DRAWINGS_ATM_CURRENT  CNT_DRAWINGS_POS_CURRENT  AMT_DRAWINGS_CURRENT  AMT_CREDIT_LIMIT_ACTUAL  CNT_DRAWINGS_OTHER_CURRENT  CNT_DRAWINGS_CURRENT
86900      456242                            0                            0                             0                              0                                   0                               0                            8             144650.565000            -4.5                   3.500000              23062.500000         20859.984750    0.000000               19580.158125  147757.578750         147757.578750  148232.328750                       0.000              6980.152500  0.000000              16787.283750                  1.000000                  2.875000          39849.783750            202500.000000                       0.000              3.875000
86901      456244                            0                            0                             0                              0                                   0                               5                           36             127608.373537           -21.0                  13.782659              24475.609756         32720.544878    0.000000               32720.544878  130767.060732         130767.060732  131834.730732                       0.000              6443.114171  0.000000               2363.015854                  1.048780                  0.317073          26842.388049            296341.463415                       0.000              1.365854
86902      456246                            0                            0                             0                              0                                   0                               0                            8              12883.016250            -5.5                   3.500000                  0.000000         17710.817250    0.000000               15554.340000   12897.894375          12897.894375   13136.731875                       0.000              1439.150625  0.000000              15199.256250                  0.000000                  2.500000          15199.256250            135000.000000                       0.000              2.500000
86903      456247                            0                            0                             0                              0                                   0                               0                           95              22100.653895           -49.0                  26.494737               2136.315789          4883.755263    0.021053                4115.878105   23128.243105          23128.243105   23216.396211                       0.000              1414.704789  0.031579                 13.190684                  0.115789                  0.031579           2149.506474            144000.000000                       0.000              0.147368
86904      456248                            0                            0                             0                              0                                   0                               0                           23                  0.000000           -13.0                   0.000000               6024.272000         10238.613000    0.000000                   0.000000       0.000000              0.000000       0.000000                     298.488                 0.000000  0.000000               2884.152000                  0.315000                  0.543000              0.000000            900000.000000                       0.005              0.000000

In [89]:
len(dataset), len(dataset.columns)

(86905, 28)

In [90]:
dataset.to_csv("credit_card_dataset.csv", index=False)

---

# 끝

---